.mixin.out
crash-reports
backups
downloads
journeymap
local
logs
mputils
!config/mputils
natives
patchouli_books
saves
screenshots
resourcepacks

.curseclient
concheckrmd
crafttweaker.log
knownkeys.txt
minecraftinstance.json
options.txt
usercache.json
usernamecache.json
patchouli_data.json
.project
config.json
manifest.json

.log*

config/InvTweaks.cfg
config/jeiworldSettings.cfg
config/InvTweaksRules.txt
config/InvTweaksTree.txt
config/splash.properties
